.all-products-section {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 60%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.failureImagePage {
  width: 300px;
  height: 300px;
}
.FailureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-heading {
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  color: #12022f;
}
.failure-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #475569;
}
.no-products-view-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #12022f;
  text-align: center;
}
.no-products-view-para {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  color: #64748b;
  text-align: center;
}
